span.just-showed {
    background-color: #ffc0c3;
    border-radius: 3px;
}

div.sourceDemo_progress {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    height: 5px;
    visibility: hidden;
}

#progressbar {
    position: fixed;
    visibility: visible;
}

#leftcol {
    position: fixed;
    bottom: 10px;
    top: 60px;
    overflow-y: auto;
}
